div.header-info
    p.header_machine-name #{user.laptopName}'s System Info

    div.user_logout-photo
        button.logout LOGOUT
        img.header_user-photo(src=`/img/users/${user.photo}`, alt="Your Photo")