navbar.sidebar
                div.nav-section.profile
                    a.nav-link(href="/profile") My Profile 
                div.nav-section.cpu
                    a.nav-link(href="/cpu") CPU 
                
                div.nav-section.system
                    a.nav-link(href="/device") System

                div.nav-section.system
                    a.nav-link(href="/memory") Memory

                div.nav-section.system
                    a.nav-link(href="/battery") Battery

                div.nav-section.system
                    a.nav-link(href="/os") OS