doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        title #{title}
    body
        main.main 
            include _sidebar
        
            block content

        
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src="/js/battery.js") 
        script(src="/js/cpu.js")