extends base

block content

    div.info

        div.batteryChart
            canvas#batteryData

        //- div.deviceInfo
            
                //- div.systemInfo
                //-     h3.header_battery Battery Info 

                //-     div.systemInfo-table
                //-         div.system_data Maximum Capacity
                //-         div.system_data= system.b

                //-         div.system_data Model
                //-         div.system_data= system.model

                //-         div.system_data Serial 
                //-         div.system_data= system.serial

