extends base

block content
            
    div.info
        div.chartContainer     
            canvas#myChart

        div.cpuInfo
            h3.header_cpu CPU Information

            div.cpuInfo-table
                div.cpu_data.cpuManufacturer-heading CPU Manufacturer 
                div.cpu_data.cpuManufacturer-name= system.cpuManufacturer

                div.cpu_data.cpuBrand-heading CPU Brand 
                div.cpu_data.cpuBrand-name= system.cpuBrand

                div.cpu_data.physicalCores-heading Physical Cores 
                div.cpu_data.physicalCores-number= system.cpu_physicalCore

                div.cpu_data.cpuBrand-heading CPU Brand 
                div.cpu_data.cpuBrand-name= system.cpuBrand

