extends base

block content

    div.info
        div.memoryChart
            canvas#memoryChart

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        script(src="/js/memory.js") 
