extends base

block content

    div.deviceInfo
            
        div.osInfo
            h3.header_os OS Info

            div.osInfo-table
                div.os_data OS Platform
                div.os_data= system.osPlatform

                div.os_data OS Distro
                div.os_data= system.osDistro

                div.os_data OS Architecture 
                div.os_data= system.osArch

                div.os_data OS Host Name 
                div.os_data= system.osHost