extends base

block content

    div.user-main
        div.user-info
            h2.myprofile_header My Profile 

            
            form.update_form
                div.form-change_username
                    p.profile-username Username 
                    input.profile-username_input(type="text", value=`${user.name}`) 


                div.change-machine_name
                    if user.laptopName
                        p.laptop-name Update Your Laptop's Alias
                        input.laptop-name_input(type="text", value=`${user.laptopName}`, placeholder="Your Laptop's Alias")
                    else
                        p.laptop-name Unleash Your Laptop's Alias
                        input.laptop-name_input(type="text", value=`${user.laptopName}`, placeholder="Your Laptop's Alias")
                    //- input.save_laptop-name(type="submit", value="Confirm machine alias")


                div.change-user_photo
                    div.form-change_photo
                        img.form_user-image(src=`/img/users/${user.photo}`, alt="your photo")
                        label(for='file-upload', class='custom-file-upload')
                            | Choose New Photo
                        input.form__upload#file-upload(type='file', accept="image/*", style='display: none;')

                div.submit_button-div
                    input.submit_button(type="submit")

            
            div.update_system-div
                h2.update_system-header Click Below To Update System Info
                button.update_system Update System

        