extends base

block content

    div.user-main
        div.user-info
            h2.myprofile_header My Profile 

            
            div.form-change_username
                p.profile-username Username 
                input.profile-username_input(type="text", placeholder='NINAD ANNA') 


                form.machine-name_form
                    p.laptop-name Unleash Your Laptop's Alias
                    input.laptop-name_input(type="text", placeholder="Your Laptop's Alias")
                    input.save_laptop-name(type="submit", value="Confirm machine alias")
                    //- button.save_laptop-name Confirm Laptop Name

            form.change_user-photo
                div.form-change_photo
                    img.form_user-image(src=`/img/users/${user.photo}`, alt="your photo")
                    label(for='file-upload', class='custom-file-upload')
                        | Choose New Photo
                    input.form__upload#file-upload(type='file', style='display: none;')
                     