doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body 
        h1 Sign Up 
        
        form.signup__form
            div.form__group
                label(for="name") Username:
                input.form__input#name(type="text")

            div.form__group
                label(for="email") Email:
                input.form__input#email(type="text")

            div.form__group
                label(for="password") Password:
                input.form__input#password(type="text")

            div.form__group
                label(for="passwordConfirm") Password Confirm:
                input.form__input#passwordConfirm(type="text")

            input.btn__signup(type="submit", value="Submit")

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js')
        script(src="/js/signup.js") 